In [ ]:
# The Scenario: The "Titanic" Survival Predictor ðŸš¢ You have a list of passengers. Some survived, some didn't. Your job is to build a model that predicts survival based on their data.

# The Dataset:

# Python
# import seaborn as sns
# # Load the raw dataset
# df = sns.load_dataset('titanic')

# # Inspect it carefully - there are missing values and categorical strings!
# print(df.head())
# print(df.isnull().sum())
# Tasks:

# Clean:

# Drop columns that seem useless (e.g., deck, embark_town, alive which is a duplicate of target).

# Handle missing values in age (maybe fill with the mean/median?).

# Drop rows where embarked is missing (it's only 2 rows).

# Encode: Convert categorical columns (sex, embarked) into numbers (Get Dummies or manual mapping).

# Split: Train/Test Split (80/20).

# Model: Train an XGBoost Classifier.

# Evaluate: Print the Accuracy and a Confusion Matrix.

# Constraints:

# You must fix the errors (missing values) before the model will run. XGBoost can handle some missing data, but sklearn metrics often complain if you aren't careful.

# Try to get an accuracy above 80%.

In [6]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, ConfusionMatrixDisplay
# from sklearn.model_selection import XGBClassifier

df = sns.load_dataset('titanic')

print(df.isnull().sum())
# i can see there are 177 rows where age is null/missing, column "deck" has 688 null values, embark_town and 

display(df.describe)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

<bound method NDFrame.describe of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

In [3]:
display(df)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True