In [ ]:
# Question 1: The "Data Leakage" Trap ðŸ’§
# One of the most common mistakes in machine learning is Data Leakageâ€”accidentally using information from the test set to scale or transform the training set.

# The Rule: You must fit your scaler/encoder only on the training data, then transform both sets.

# Dataset:

# Python
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score

# data1 = {
#     'Age': [22, 25, 47, 52, 46, 56, 55, 60, 62, 63, 18, 20, 21, 23, 24, 80, 85, 90, 88, 82],
#     'Salary': [20000, 22000, 100000, 120000, 110000, 130000, 125000, 140000, 145000, 150000, 15000, 18000, 19000, 21000, 23000, 50000, 55000, 60000, 58000, 52000],
#     'Purchased_VIP': [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
# }
# df1 = pd.DataFrame(data1)
# Your Tasks:

# Split: Split X (Age, Salary) and y (Purchased_VIP) into training and testing sets (80/20 split, random_state=42).

# Scale Correctly:

# Import StandardScaler from sklearn.preprocessing.

# Fit the scaler on X_train ONLY.

# Transform X_train to create X_train_scaled.

# Transform X_test to create X_test_scaled.

# Train & Evaluate: Train a LogisticRegression model on the scaled training data. Calculate the accuracy on the scaled test data.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data1 = {
    'Age': [22, 25, 47, 52, 46, 56, 55, 60, 62, 63, 18, 20, 21, 23, 24, 80, 85, 90, 88, 82],
    'Salary': [20000, 22000, 100000, 120000, 110000, 130000, 125000, 140000, 145000, 150000, 15000, 18000, 19000, 21000, 23000, 50000, 55000, 60000, 58000, 52000],
    'Purchased_VIP': [0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
}
df = pd.DataFrame(data1)

x = df[['Age','Salary']]
y = df['Purchased_VIP']

X_train, y_train, X_test, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

model = LogisticRegression()

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)

In [5]:
display(df)

    Age  Salary  Purchased_VIP
0    22   20000              0
1    25   22000              0
2    47  100000              1
3    52  120000              1
4    46  110000              1
5    56  130000              1
6    55  125000              1
7    60  140000              1
8    62  145000              1
9    63  150000              1
10   18   15000              0
11   20   18000              0
12   21   19000              0
13   23   21000              0
14   24   23000              0
15   80   50000              0
16   85   55000              0
17   90   60000              0
18   88   58000              0
19   82   52000              0