In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [37]:
#configure pandas
pd.set_option('display.max_rows', 50)

In [38]:
main_path = 'C:\\Users\\Sumed\\Desktop\\Final_Sem_Sumedh\\'
df = pd.read_csv(main_path + 'image-data-ePGD-endsem.csv')

In [39]:
#Q1
# Ques on – 1 [15 marks] 
# a. Perform and document all the EDA steps executed on the dataset by you. 
# Irrespec ve of when the EDA steps are implemented (ini al EDA, done to understand the dataset, or 
# subsequent EDA, as you progress through the ques ons), all the EDA steps should be documented and 
# explained at one place. Following is the suggested format for EDA documenta on. ------------------------------------------------ 
#  EDA step 1:  
#  Reason for this step:  
#  Observa on and analysis: 
#  Actions to be taken (if any): 
#  Remarks

In [40]:
#EDA Step 1
display(df)
#  Reason for this step: to check what each row represents 
#  Observa on and analysis: it appears that each row represents the image name, cell number and an indication whether there is wildlife present in this cell.
#  Actions to be taken (if any): none as of now.

,image_filename,cell_number,cell_row,cell_col,label,c1,c2,c3,c4,c5,...,c126,c127,c128,c129,c130,c131,c132,c133,c134,c135
0,IMG_20250705_121136381~2.jpg,13,1,4,1,0.001067,0.011600,0.038667,0.064400,0.356800,...,162.00,0.181895,108.658800,6.479477,890.007871,12778.193100,1091397,3573669.586,3.101389e+06,0.867844
1,CIMG0113.JPG,37,4,4,1,0.000133,0.236800,0.419067,0.112267,0.031467,...,139.25,0.362944,110.399333,7.022868,704.594772,10415.927290,849863,3445633.368,1.838827e+06,0.533669
2,IMG_3416.JPG,20,2,3,0,0.000000,0.001467,0.043333,0.154267,0.243333,...,147.00,0.198979,98.594400,6.613299,1485.853169,11194.963970,959210,3009723.773,8.134175e+06,2.702632
3,CIMG0217.JPG,38,4,5,0,0.000000,0.000000,0.000133,0.192800,0.787067,...,136.00,0.082952,64.242267,5.457998,751.399306,11206.359630,969349,1757998.087,3.877497e+06,2.205632
4,CIMG0063.JPG,18,2,1,0,0.588267,0.035200,0.056800,0.072533,0.081467,...,124.00,1.247159,51.422800,5.486431,1288.086015,7729.182713,424505,4248047.582,5.412598e+06,1.274138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5005,IMG_3385.JPG,4,0,3,0,0.000000,0.679200,0.309867,0.010800,0.000133,...,71.00,0.175321,107.315067,5.460456,663.827397,5691.293367,488767,1438614.924,3.540091e+06,2.460763
5006,CIMG0428.JPG,47,5,6,0,0.002267,0.020533,0.141333,0.328800,0.290933,...,156.00,0.255065,100.931467,7.096395,2088.868638,11705.490580,997794,3493295.062,1.217322e+07,3.484738
5007,IMG_3747.JPG,21,2,4,0,0.002048,0.023629,0.131065,0.239445,0.373819,...,142.00,0.240803,95.780876,6.873239,1076.900868,9899.371168,771331,2973036.365,3.863130e+06,1.299389
5008,CIMG0210(1).JPG,1,0,0,0,0.035333,0.007333,0.009467,0.947867,0.000000,...,141.00,0.182423,108.578933,4.186644,707.794959,11713.782320,999794,2760972.071,2.547490e+06,0.922679
5009,IMG_20180724_170112733.jpg,42,5,1,0,0.000000,0.001867,0.011867,0.067467,0.342267,...,169.00,0.137759,112.975867,6.206548,1269.020088,13477.207240,1161355,3079396.827,6.438254e+06,2.090752

In [52]:
# check number  of columns and rows in the data
print(df.shape) 
print('\n')

# check number of missing values
print(df.isnull().sum().sum(), "total missing values")
print('\n')

print(df.isnull().sum()) #per column
print('\n')

df_nulls_removed = df.dropna()

print(df_nulls_removed.shape)


# EDA step 4
rows_per_image = df_nulls_removed.groupby('image_filename').size()
bad = rows_per_image[rows_per_image != 64]
if len(bad):
    print(f'Found {len(bad)} images without 64 rows. Example entries:\n', bad.head())
else:
    print('All images have 64 rows (good).')
# print(bad)
df_cleansed = df.filter(~df['image_filename'].isin(bad))
print(df_nulls_removed.shape)

#  Reason for this step:  to check if any number of images do not have a cell co-ordinate. futher i am checking if there is data available  on row context for all images or not. if 
#  Observa on and analysis: there are 51 columns with such an error. There are  5 images without full data to analyze. 
#  Actions to be taken (if any): I will now have to check if i drop such images how much of the dataset i can retain. i have dropped 10 rows, meaning that there were 10 rows which had  an issue  with the data. i am still able to retin 5000 images and i am proceeding ahead with the data. i will also drop the images without all the 64 rows in the data.

(5010, 140)


51 total missing values


image_filename    0
cell_number       0
cell_row          0
cell_col          0
label             0
                 ..
c131              0
c132              0
c133              0
c134              0
c135              0
Length: 140, dtype: int64


(5000, 140)
Found 465 images without 64 rows. Example entries:
 image_filename
100820081692.jpg     7
100820081693.jpg     8
100820081694.jpg     5
100820081695.jpg    11
141120142185.jpg    14
dtype: int64
(5000, 140)

In [ ]:
#EDA Step 2
# find out the level of measurement
def detect_level_of_measurement(series):
    if series.dtype == 'object' or series.dtype.name == 'category':
        # Check if ordinal category
        if hasattr(series.dtype, 'ordered') and series.dtype.ordered:
            return "Ordinal"
        return "Nominal"

    # If numeric
    if pd.api.types.is_numeric_dtype(series):
        unique_vals = series.dropna().unique()
        # Only two unique values => probably nominal (binary flag)
        if len(unique_vals) == 2:
            return "Nominal (binary)"
        # Check if values can be considered ratio (non-negative + meaningful zero)
        if (series.dropna() >= 0).all():
            return "Ratio"
        # Otherwise numeric but negative allowed → often interval scale
        return "Interval"
    # If datetime
    if pd.api.types.is_datetime64_any_dtype(series):
        return "Interval (datetime)"
    # Fallback
    return "Unknown"

level_map = {}

for col in df_nulls_removed.columns:
    level_map[col] = detect_level_of_measurement(df_nulls_removed[col])

levels_df = pd.DataFrame.from_dict(level_map, orient='index', columns=['Level of Measurement'])
display(levels_df)

levels_df.to_csv(main_path +  'level_of_measurement.csv')
#  Reason for this step:  to check if there is any categorical dimension in the data, we will need to consider the 
#  Observa on and analysis: There are 2 categorical variables here, image_filename and label which are not being considered for ML, hence there isn't any issue with the level of measurement in the data. With the "label" column i can see it is also an indicator and that too in a binary format.
#  Actions to be taken (if any): no action has  been taken.

               Level of Measurement
image_filename              Nominal
cell_number                   Ratio
cell_row                      Ratio
cell_col                      Ratio
label              Nominal (binary)
...                             ...
c131                          Ratio
c132                          Ratio
c133                          Ratio
c134                          Ratio
c135                          Ratio

[140 rows x 1 columns]

In [ ]:
# EDA step 3
#check if we have enough wildlife present in the photos

nominal_column = df_nulls_removed['label']
display(nominal_column.unique())

counts = {k: int(v) for k, v in nominal_column.value_counts().items()}
print(counts)

percentages = {k: float(v * 100 / len(df)) 
               for k, v in nominal_column.value_counts().items()}
print(percentages)


#  Reason for this step:  to check if we have enough images with wildlife  content in them. the label represents if we have wildlife in them or not.
#  Observa on and analysis: it appears that 66.48% of the images have wildlife while the remaining have noise in them. total images with wildlife - 3331

array([1, 0])

{0: 3331, 1: 1669}
{0: 66.48702594810379, 1: 33.31337325349301}

Found 465 images without 64 rows. Example entries:
 image_filename
100820081692.jpg     7
100820081693.jpg     8
100820081694.jpg     5
100820081695.jpg    11
141120142185.jpg    14
dtype: int64